<?xml version="1.0" ?>

<launch>

  <!-- ****************************************** Run Kinect driver ****************************************** -->

  <!-- "camera" should uniquely identify the device. All topics are pushed down
       into the "camera" namespace, and it is prepended to tf frame ids. -->
  <arg name="camera" default="camera" />
  <arg name="rgb_frame_id"   default="$(arg camera)_rgb_optical_frame" />
  <arg name="depth_frame_id" default="$(arg camera)_depth_optical_frame" />
  <arg name="publish_tf" default="true" />
 
  <!-- Push down all topics/nodelets into "camera" namespace -->
  <group ns="$(arg camera)">




    
  </group> <!-- camera -->

  <!-- Load reasonable defaults for the relative pose between cameras -->
  <include if="$(arg publish_tf)"
	   file="$(find rgbd_launch)/launch/kinect_frames.launch">
    <arg name="camera" value="$(arg camera)" />
  </include>

  <!-- ****************************************** End of Kinect driver ****************************************** -->

  <!-- Get time reference from clock topic from bag file (can't run sim time if not bag) -->
  <param name="use_sim_time" value="true" /> 

  <!-- Run this node -->
  <node pkg="hockey_shot" type="hockey_shot" name="hockey_shot" output="screen"/>

  <!-- Rviz config -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hockey_shot)/rviz/hockey_shot.rviz"/> 

  <!-- Reconfigure server  -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfig" />

</launch>
